@import url('foundation.min.css')
@import url('style.css')
//variables
red_color = #B70821
.red_color_bg
	background-color red_color
.red_color_font
	color red_color
//helpers
.bottom_p_30
	padding-bottom 30px
.slick-dots li.slick-active button::before
	color white
//body elements
ul
	list-style-type  none
	margin 0
	padding 0
a
	color inherit
	&:hover
		color inherit
//components
.sk-menu
	position fixed
	top 0
	left 0
	width 100%
	z-index 9
	.top
		height 50px
		background-color red_color
.sk-menu.sk-desktop
	display none
	color white
	.top
		padding 10px
	*
		color inherit
	ul.icons
		color red_color
		li
			width 30px
			height 30px
			border-radius 50%
			background-color white
			a
				display block
				height 100%
				span
					display inline-block
					margin-left 8px
					margin-top 7px

.sk-menu.sk-movil
	background-color red_color
	z-index 10
	.top
		height 60px
		background-color transparent
	.icon-menu
		position absolute
		top 10px
		right 10px
		color #ffffff
		font-size 1.5em
		cursor  pointer
		width 40px
		height 40px
		z-index 8
	.sk-drop
		z-index 9
		background-color #F4F4F4
		display none
		.selected
			color red_color
		li
			border-bottom 1px solid white
			padding 5px
		a
			color gray
.centered
	*
		text-align center
		margin 0 auto
	img
		display  block
		margin 0 auto
//end
body
	font-family 'Open Sans', sans-serif
	color black
	font-size 16pt
	header
		background-color red_color
		padding-bottom 50px
		padding-top 70px
		h1
			font-size 0.7em
			color #ffffff
			margin-top 30px
			margin-bottom 30px
	.about
		.sk-skill
			margin-top 20px
			h1
				font-size 1em
				text-align  center
			p
				text-align center
			img
				border-radius 50%
				display block
				margin 0 auto
	.portafolio
		background-color red_color
		*
			color white
		h1
			font-size 1em
		.galery
			li
				display inline-flex
				width 50%
				cursor pointer
				overflow hidden
				.content
					position relative
					img
						width 100%
					.description
						position absolute
						left 0
						bottom -50px
						width 100%
						height 50px
						background-color rgba(0,0,0,.5)
						p
							color #ffffff
							padding 5px

	footer
		background-color red_color
		padding-top 20px
		padding-bottom 10px
		margin-top 30px
		color #ffffff
		.inline-list
			display table
			margin 0 auto
			a
				border-radius 50%
				width 30px
				height 30px
				color red_color
				background-color white
				padding-top 3px
		p
			color white
			padding-top 10px

@media screen and (min-width:64.063em)
	.sk-menu.sk-desktop
		display block
	.sk-menu.sk-movil
		display none
	body
		.about
			.sk-skill
				h1
					text-align  left
				p
					text-align left
				img
					border-radius 50%
					display block
					margin 0 auto
		.portafolio
			background-color red_color
			*
				color white
			h1
				font-size 1em
			.galery
				li
					display inline-flex
					width 33%