//
   Created by Miguel on 3/01/15.

footer
   .row
      .small-12.column.hide-for-large-up
         ul(class="inline-list centered")
            li
               a(href="pe.linkedin.com/in/antoniotreneman")
                  span(class="icon-linkedin2")
            li
               a(href="https://www.facebook.com/Antonio121989")
                  span(class="icon-facebook")
            li
               a(href="#")
                  span(class="icon-pinterest")
            li
               a(href="https://twitter.com/AntonioTreneman")
                  span(class="icon-twitter")
            li
               a(href="https://www.youtube.com/channel/UC_sV3gIUnkju-_hkQZGZuag")
                  span(class="icon-youtube3")
      .large-12.column
         p.text-center Diseñado