//
   Created by Miguel on 3/01/15.

header
   .sk-movil.sk-menu
      .top
         span(class="icon-menu")
      .sk-drop
         nav
            ul
               li
                  a(href="/",class="selected") HOME
               li
                  a(href="about-me.html") ABOUT ME
               li
                  a(href="portafolio.html") PORTAFOLIO
               li
                  a(href="services.html") SERVICES
               li
                  a(href="contactame.html") CONTACT
   .sk-desktop.sk-menu
      .top
         .row
            .large-4.column
               ul.inline-list.icons
                  li
                     a(href="#")
                        span.icon-linkedin2
                  li
                     a(href="#")
                        span.icon-linkedin2
                  li
                     a(href="#")
                        span.icon-pinterest
                  li
                     a(href="#")
                        span.icon-twitter
                  li
                     a(href="#")
                        span.icon-youtube3
            .large-7.large-offset-1.column
               ul.inline-list
                  li
                     a.selected(href="/") HOME
                  li
                     a(href="about-me.html") ABOUT ME
                  li
                     a(href="portafolio.html") PORTAFOLIO
                  li
                     a(href="services.html") SERVICES
                  li
                     a(href="contactame.html") CONTACT