extends  web-components/layout
block content
	.about
		include web-components/header
		section.centered
			h1 Antonio Treneman Velarde
			img(src="../images/DSC_0041.jpg")
			.row					
				.small-12.column
					p.top_p_30 !Hola!, me llamo Antonio y soy diseñador web y publicitario, esto es un poco de mi mundo y te invito a que seas parte de el. soy egresado de las carreras de computación e informática y Diseño Gráfico Publicitario, también realizo ediciones de video, ilustraciones, packaging y muchas otras cosas interesantes que verás más abajo... 
					img.tono(src="../images/frodo.png")
					p.top_p_30
						a(href="#jobs")
							img(src="../images/down_over.png")
		section.red_color_bg#jobs
			.row
				.small-12.medium-4.column.centered
					.item
						img(src="../images/web_circle.png")
						p
							strong Diseños Webs 
						p Se realizan diversos trabajos, desde diseño de sitios webs completos hasta aplicaciones, webs con diseños adaptables a los diversos smartphones, tablets y pcs. ¡Tu web se verá genial veas donde la veas!
				.small-12.medium-4.column.centered
					.item
						img(src="../images/design_circle.png")
						p
							strong Diseños Publictarios
						p Desde afiches publicitarios, banners, gigantografías, papelería corporativa, manuales de identidad hasta ilustraciones para todo tipo de uso.
				.small-12.medium-4.column.centered
					.item
						img(src="../images/video_circle.png")
						p
							strong Diseños Multimedia
						p Trabajos multimedia, animaciones, ediciones, efectos especiales y producción de spots televisivos, cuñas radiales, etc.  				
			.row
				.small-12.small-centered.column
					a.centered.ico(href="portafolio.html")
						img(src="../images/vermas_white.png")
		section
			.row
				.small-12.centered.column
					p.bottom_p_30 Entra a Behance y podrás apreciar la recopilación de lo mejor de mi trabajo, así mismo si gustas, podrás ver mi Curriculum en el link que se encuentra más abajo. Espero que todo sea de tu agrado.
				.small-4.large-2.small-centered.column
					a(href="")
						img(src="../images/behance.png")
				.small-4.large-1.small-centered.column					
					a(href="#")
						img(src="../images/curriculum.png")
				.small-12.column
					p.text-center Curriculum
		include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")