extends  web-components/layout
block content
   include web-components/header
   .row
      form.small-12.large-6.large-centered.column        
         h1.text-center.top_p_30 Contactame
         .row
            .large-2.column.hide-for-medium-down
               img(src="../images/sobre.png")
            .small-12.large-8.column
               p.text-center ¿tienes alguna pregunta, duda, sugerencia o comentario?
            .large-2.column.hide-for-medium-down
               img(src="../images/charla.png")
            .small-3.small-centered.column.hide-for-large-up
               img(src="../images/sobre.png")
         fieldset
            input(type="text",name="nombres", placeholder="Nombres", required)
            input(type="email",name="email",placeholder="E-mail",required=)
            textarea(rows="6") Mensaje
            button.block(type="submit") Enviar
            p.top_p_30.text-center También puedes ubicarme en mis redes sociales
   include web-components/footer
   script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
   script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
   script(type="text/javascript",src="../js/slick/slick.min.js")
   script(type="text/javascript",src="../js/main.js")