//
   Created by Miguel on 3/01/15.

footer
   .row
      .small-12.column.hide-for-large-up
         ul(class="inline-list centered")
            li
               a(href="#")
                  span(class="icon-linkedin2")
            li
               a(href="#")
                  span(class="icon-linkedin2")
            li
               a(href="#")
                  span(class="icon-pinterest")
            li
               a(href="#")
                  span(class="icon-twitter")
            li
               a(href="#")
                  span(class="icon-youtube3")
      .large-12.column
         p.text-center Diseñado