extends  web-components/layout 
block content
	include web-components/header
	section.red_color_bg.bottom_p_30
		.slick
			div
				.centered.top_p_30
					img.logo(src="../images/logo_basic.png",alt="logo")
			div
				.centered
					p content2323233
	section.about.bottom_p_30
		.row
			.small-12.large-6.column
				.row
					.small-12.column.sk-skill
						.row
							.small-12.large-4.column
								img(src="../images/web_circle.png",alt="diseño web")
							.small-12.large-8.column
								h1 Diseñ Web
								p lorem ipsum
					.small-12.column.sk-skill
						.row
							.small-12.large-4.column
								img(src="../images/design_circle.png",alt="diseño publicitario")
							.small-12.large-8.column
								h1 Diseño publicitario e Ilustración digital
								p lorem ipsum
					.small-12.column.sk-skill
						.row
							.small-12.large-4.column
								img(src="../images/video_circle.png",alt="Edicion de video")
							.small-12.large-8.column
								h1 Edición de video y más
								p lorem ipsum
			.large-6.hide-for-medium-down.column
				img.doge(src="http://i0.kym-cdn.com/photos/images/newsfeed/000/581/296/c09.jpg")
	section(class="portafolio")
		h1(class="text-center") Algunos Trabajos
		.row
			.small-12.column
				ul.galery
					li
						.content
							img(src="http://lorempixel.com/output/abstract-q-c-640-480-6.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="http://lorempixel.com/output/abstract-q-c-640-480-6.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="http://lorempixel.com/output/abstract-q-c-640-480-6.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")