extends  web-components/layout 
block content 
	include web-components/header
	section.red_color_bg.bottom_p_30
		.slick
			.centered.top_p_30
				img(src="../images/ban0.jpg",alt="logo")
			.centered.top_p_30
				img(src="../images/ban1.jpg",alt="logo")
			.centered.top_p_30
				img(src="../images/ban2.jpg",alt="logo")
			.centered.top_p_30
				img(src="../images/ban3.jpg",alt="logo")
			.centered.top_p_30
				img(src="../images/ban4.jpg",alt="logo")
	section.about.bottom_p_30
		.row
			.small-12.large-6.column
				.row
					.small-12.column.sk-skill
						.row
							.small-12.large-4.column
								img(src="../images/web_circle.png",alt="diseño web")
							.small-12.large-8.column
								h1 Diseñ Web
								p Se realizan diversos trabajos, desde diseño de sitios webs completos hasta aplicaciones, webs con diseños adaptables a los diversos smartphones, tablets y pcs. ¡Tu web se verá genial veas donde la veas!
					.small-12.column.sk-skill
						.row
							.small-12.large-4.column
								img(src="../images/design_circle.png",alt="diseño publicitario")
							.small-12.large-8.column
								h1 Diseño publicitario e Ilustración digital
								p Desde afiches publicitarios, banners, gigantografías, papelería corporativa, manuales de identidad hasta ilustraciones para todo tipo de uso.
					.small-12.column.sk-skill
						.row
							.small-12.large-4.column
								img(src="../images/video_circle.png",alt="Edicion de video")
							.small-12.large-8.column
								h1 Edición de video y más
								p Trabajos multimedia, animaciones, ediciones, efectos especiales y producción de spots televisivos, cuñas radiales, etc.  
			.large-6.hide-for-medium-down.column
				img.doge(src="../images/frodo.png")
			.small-1.small-centered.column
				a(href="aboutme.html")
					img(src="../images/vermas_over.png")

	section(class="portafolio")
		h1.top_p_30.bottom_p_30(class="text-center") Algunos Trabajos
		.row
			.small-12.column
				ul.galery
					li
						.content
							img(src="../images/trab_1.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_2.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_3.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_4.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_5.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_6.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_7.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_8.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
					li
						.content
							img(src="../images/trab_9.jpg",alt="imagen 1")
							.description
								p ¿hola que haces?
			.small-1.small-centered.column
				a.top_p_30(href="portafolio.html")
					img(src="../images/vermas_white.png")
	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")