extends  web-components/layout
block content
	include web-components/header
	section.slick
		div content
		div content
	section(class="about")
		.row
			.small-12.large-6.column
				.row
					.small-12.column
						.skill.centered
							img(src="../images/web_circle.png",alt="diseño web")
							h1 Diseñ Web
							p lorem ipsum
					.small-12.column
						.skill.centered
							img(src="../images/design_circle.png",alt="diseño publicitario")
							h1 Diseño publicitario e Ilustración digital
							p lorem ipsum
					.small-12.column
						.skill.centered
							img(src="../images/video_circle.png",alt="Edicion de video")
							h1 Edición de video y más
							p lorem ipsum
			.large-6.hide-for-large-only.column
	section(class="portafolio")
		h1(class="text-center") Algunos Trabajos
		.row
			.small-12.column
				ul.galery
					li
						img(src="http://lorempixel.com/output/abstract-q-c-620-620-3.jpg",alt="imagen 1")
					li
						img(src="http://lorempixel.com/output/abstract-q-c-620-620-3.jpg",alt="imagen 1")
	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")