extends  web-components/layout
block content
	include web-components/header 
	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")