extends  web-components/layout
block content
	include web-components/header 
	.content.centered
		img.show-for-large-up(src="../images/ban4.jpg")
	section
		.row
			.small-12.column.centered
				h1 Mi Portafolio 
			.large-1.column.hide-for-medium-down
				img(src="../images/lupa.png")
			.small-12.large-10.column.centered
				p Lorem 
			.large-1.column.hide-for-medium-down
				img(src="../images/book.png")
			.small-12.column.centered.show-for-medium-down
				img(src="../images/book.png")
		.row
			.small-2.small-offset-5.centered.hide-for-medium-down.column
				a.block(href="#")
					img(src="../images/down_over.png")
	section.red_color_bg.centered
		#slickPortafolio
			h2.white_color_font Diseño Web
			.content
				div
					img(src="http://25.media.tumblr.com/tumblr_laiktwWePS1qeokrqo1_1280.jpg")
				div
					img(src="http://25.media.tumblr.com/tumblr_laiktwWePS1qeokrqo1_1280.jpg")
				div
					img(src="http://25.media.tumblr.com/tumblr_laiktwWePS1qeokrqo1_1280.jpg")
				div
					img(src="http://25.media.tumblr.com/tumblr_laiktwWePS1qeokrqo1_1280.jpg")
					
	section.centered
		h2 Multimedia	 
		p lorem
		img(src="../images/audifonos.png")
		p lorem
		.row
			.small-12.large-8.large-centered.column
				#slickMultimedia
					div
						<iframe width="100%" height="400px" src="https://www.youtube.com/embed/fJFemeww7Co" frameborder="0" allowfullscreen></iframe>	
					div
						<iframe width="100%" height="400px" src="https://www.youtube.com/embed/eYvkdUI19NY" frameborder="0" allowfullscreen></iframe>										

		p lorem
		p Para más trabajos
			br
			visita mi canal
			a.circle.centered.icon-youtube3(href="")
	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")