extends  web-components/layout
block content
	include web-components/header 
	.content.centered
		img.show-for-large-up(src="../images/ban4.jpg")
	section
		.row
			.small-12.column.centered
				h1 Mi Portafolio 
			.large-1.column.hide-for-medium-down
				img(src="../images/lupa.png")
			.small-12.large-10.column.centered
				p ¡Bienvenido a mi Portafolio, aquí podrás apreciar todos los trabajos que he venido realizando a través del tiempo, están agrupados por categorías, así que será más fácil el poder ubicarlos. Espero que sean de tu agrado!  
			.large-1.column.hide-for-medium-down
				img(src="../images/book.png")
			.small-12.column.centered.show-for-medium-down
				img(src="../images/book.png")
		.row
			.small-1.small-centered.centered.hide-for-medium-down.column.top_p_30
				a.block(href="#slickPortafolio")
					img(src="../images/down_over.png")
	section.red_color_bg.centered
		#slickPortafolio
			h2.white_color_font Diseño Web
			#slickW
				.content
					div
						img(src="../images/trab_1.jpg",alt="imagen 1")
					div
						img(src="../images/trab_2.jpg",alt="imagen 1")
					div
						img(src="../images/trab_3.jpg",alt="imagen 1")
					div
						img(src="../images/trab_4.jpg",alt="imagen 1")
					div
						img(src="../images/trab_5.jpg",alt="imagen 1")
					div
						img(src="../images/trab_6.jpg",alt="imagen 1")
					div
						img(src="../images/trab_7.jpg",alt="imagen 1")
					div
						img(src="../images/trab_8.jpg",alt="imagen 1")
					div
						img(src="../images/trab_9.jpg",alt="imagen 1")
				.content
					div
						img(src="../images/trab_1.jpg",alt="imagen 1")
					div
						img(src="../images/trab_2.jpg",alt="imagen 1")
					div
						img(src="../images/trab_3.jpg",alt="imagen 1")
					div
						img(src="../images/trab_4.jpg",alt="imagen 1")
					div
						img(src="../images/trab_5.jpg",alt="imagen 1")
					div
						img(src="../images/trab_6.jpg",alt="imagen 1")
					div
						img(src="../images/trab_7.jpg",alt="imagen 1")
					div
						img(src="../images/trab_8.jpg",alt="imagen 1")
					div
						img(src="../images/trab_9.jpg",alt="imagen 1")

	section.centered
		h2 Multimedia
		.row
			.small-1.column.hide-for-medium-down
				img(src="../images/audifonos.png")
			.small-12.large-10.column
				p Estos son algunos de los trabajos multimedia que he venido realizando para diversos fines académicos y profesionales, desde la edición de spots publicitarios hasta animaciones hechas en Afet Effects. Encontrarás gran variedad en el trabajo.
			.small-1.column.hide-for-medium-down
				img(src="../images/camera.png")
			.small-12.column.centered.show-for-medium-down.top_p_30
				img(src="../images/audifonos.png")
		.row
			.small-12.large-8.large-centered.column
				#slickMultimedia.top_p_30
					div
						<iframe width="100%" height="400px" src="https://www.youtube.com/embed/fJFemeww7Co" frameborder="0" allowfullscreen></iframe>	
					div
						<iframe width="100%" height="400px" src="https://www.youtube.com/embed/eYvkdUI19NY" frameborder="0" allowfullscreen></iframe>
		p.top_p_30 Para más trabajos
			br
			visita mi canal
			a.circle.centered.icon-youtube3(href="https://www.youtube.com/channel/UC_sV3gIUnkju-_hkQZGZuag")
	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")