extends  web-components/layout
block content
	include web-components/header 
	img.show-for-large-up(src="")
	section
		.row
			.small-12.column.centered
				h1 Mi Portafolio 
			.large-1.column.hide-for-medium-down
				img(src="../images/lupa.png")
			.small-12.large-10.column.centered
				p Lorem 
			.large-1.column.hide-for-medium-down
				img(src="../images/book.png")
			.small-12.column.centered.show-for-medium-down
				img(src="../images/book.png")
			.small-12.column.centered
				a(href="#")
					img(src="../images/down_over.png")
	section.red_color_bg.centered
		#slickPortafolio
			h2.white_color_font Diseño Web
			.content
				div
					img(src="")
				div
					img(src="")
				div
					img(src="")
				div
					img(src="")
	section.centered
		h2 Multimedia	 
		p lorem
		img(src="")
		#slickMultimedia
			div
				//- video de youtube 





	include web-components/footer
	script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
	script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
	script(type="text/javascript",src="../js/slick/slick.min.js")
	script(type="text/javascript",src="../js/main.js")