extends web-components/layout
block content
    include web-components/header
    section.centered.bottom_p_30.top_p_30
        .row
            .small-12.column
                h1 Servicios diversos
                p loremdadklasmkldamsldmalksmdlsamdadk
                img(src="../images/pencil.png")
    section#services.centered.red_color_bg
        .row
            .small-12.large-4.column
                h3.white_color_font Diseño Web
                img(src="../images/web_design.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Ilustraciones
                img(src="../images/illustraciones.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Diseño Publicitario
                img(src="../images/publicity_design.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Multimedia
                img(src="../images/multimedia.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Fotografía
                img(src="../images/photography.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Packaging
                img(src="../images/packaging.png",width="150")
    section.white_color_bg.bottom_p_30
        .row
            .small-12.column
                #services-slick
                    div
                        .centered.top_p_30
                            img.logo(src="../images/logo_basic.png",alt="logo")
                    div
                        .centered
                            p content2323233
    include web-components/footer
    script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript",src="../js/slick/slick.min.js")
    script(type="text/javascript",src="../js/main.js")