extends web-components/layout
block content
    include web-components/header
    section.centered.bottom_p_30.top_p_30
        .row
            .small-12.column
                h1 Servicios diversos
            .large-1.column.hide-for-medium-down
                img(src="../images/pencil.png")
            .small-12.large-10.column.centered
                p Realizo todo tipo de trabajo relacionado con el diseño, la ilustración y multimedia.
                p Afiches publicitarios, páginas webs y diseño de aplicaciones, dibujos digitales, ediciones de video y efectos especiales, manuales corporativos para empresas, fotografía publicitaria, retoques digitales. A continuación verás un ejemplo de cada trabajo que realizo. 
            .large-1.column.hide-for-medium-down
                img(src="../images/cafe.png")
            .small-12.column.centered.show-for-medium-down.top_p_30
                img(src="../images/pencil.png")
        .row
            .small-1.small-centered.centered.hide-for-medium-down.column.top_p_30
                a.block(href="#")
                    img(src="../images/down_over.png")
    section#services.centered.red_color_bg
        .row
            .small-12.large-4.column
                h3.white_color_font Diseño Web
                a.ink(href="#",data-target="0")
                    img(src="../images/web_design.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Ilustraciones
                a.ink(href="#",data-target="1")
                    img(src="../images/illustraciones.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Diseño Publicitario
                a.ink(href="#",data-target="2")
                    img(src="../images/publicity_design.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Multimedia
                a.ink(href="#",data-target="3")
                    img(src="../images/multimedia.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Fotografía
                a.ink(href="#",data-target="4")
                    img(src="../images/photography.png",width="150")
            .small-12.large-4.column
                h3.white_color_font Packaging
                a.ink(href="#",data-target="5")
                    img(src="../images/packaging.png",width="150")
    section.white_color_bg.bottom_p_30
        .row
            .small-12.column
                #services-slick
                    div
                        .centered.top_p_30
                            img(src="../images/web.jpg",alt="logo")
                    div
                        .centered.top_p_30
                            img(src="../images/publicitario.jpg",alt="logo")        
                    div
                        .centered.top_p_30
                            img(src="../images/multimedia.jpg",alt="logo")
                    div
                        .centered.top_p_30
                            img(src="../images/packaging.jpg",alt="logo")
                    div
                        .centered.top_p_30
                            img(src="../images/fotografia.jpg",alt="logo")
                    div
                        .centered.top_p_30
                            img(src="../images/ilustraciones.jpg",alt="logo")

    include web-components/footer
    script(type="text/javascript",src="//code.jquery.com/jquery-1.11.0.min.js")
    script(type="text/javascript",src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript",src="../js/slick/slick.min.js")
    script(type="text/javascript",src="../js/main.js")