extends web-components/layout
block content
    include web-components/header
    section.centered
        h1 Servicios diversos
        p loremdadklasmkldamsldmalksmdlsamdadk
        img(src="../images/pencil.png")
